div.İletişim_header{
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: black solid 1px;
    width: 100%;
}

div.İletişim_header h1{
    font-size: 38px;
}

.headyazi{
    width: 100%;
}

.headyazi p{
    font-size: 20px;
    margin-bottom: 50px;
}

.container p.smal{
    font-size: 16px;
    margin-bottom: 20px;
}

.container label{
    font-weight: bold;
    font-size: 14px;
    margin: 3px 0;
    font-family: "Arial";
}

.container input{
    width: 90%;
    height: 40px;
    border: 1px solid grey;
    padding: 10px 20px;
    font-size: 14px;
    color: #231f20;
    background-color: none;
    outline: none;
    font-family: "Arial";
    margin-bottom: 20px;
}
.container input:hover{
    border: 1px solid black;
}

button{
    background-color: #02b8dd;
}

.container div1{
    width: 50%;
    float: left;
}
.container div2{
    width: 50%;
    float: left;
}

.container .mesaj input{
    width: 95%;
    height: 100px;
}

.orta{
    display: flex;
}

.left{
    width: 50%;
}
.right{
    width: 48%;
    height: 50%;
    padding: 10px 20px;
}

.right_tel{
    width: 100%;
    height: auto;
    margin: 10px;
    border: grey solid 1px;
    padding: 20px;
    display: inline-block;
}
.right_tel h4{
    font-size: 20px;
    font-weight: bolder;
    color: #18264E;
    margin-bottom: 1px;
}
.right_tel p{
    font-size: 14px;
}
.right_tel .musterihizmet{
    width: 100%;
}
.right_tel .biziara{
    width: 50%;
}
.right_tel .mailgonder{
    width: 50%;
}
.right_tel .yeterartik{
    display: flex;
}

.right_sosyal{
    width: 100%;
    height: 20%;
    margin: 10px;
    border: grey solid 1px;
}

.adress{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .container div1{
        width: 100%;
    }
    .container div2{
        width: 100%;
    }
    .container .mesaj input{
        width: 90%;
        height: 100px;
    }

}
@media screen and (max-width: 990px) {
    .right_tel{
        height: 300px;
    }
    .yeterartik{
        width: 100%;
        display: inline-block;
    }

}