*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    border-bottom: 1px solid black;
}

.logo{
    width: 150px;
}

.logo img{
    margin-bottom: 10px;
}

nav{
    flex: 1;
    justify-content: flex-end;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    position: relative;
    margin-top: 17px;
}

.acilir{
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 120px;
    left: 15px;
    top: 44px;
    background-color:rgb(247, 247, 243);
    flex-direction: column;
    padding: 15px;
}

.acilir li{
    margin: 0 auto;
}

.acilir li a{
    padding: 5px;
}

.acilir li a:hover{
    border: none;
}

nav ul li:hover .acilir{
    display: block;
}

nav ul li a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover{
    /* border-bottom: 1px solid black; */
    color: #02b8dd;
    transition: 0.5s;
}

.login{
    flex: 1;
    margin-bottom: 0px;
    margin-left: 450px;
}

.login a{
    padding: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.login a:hover{
    color: #02b8dd;
    transition: 0.5s;
}

.header-bottom{
    margin-top: 20px;
    display: inline;
}

.header-bottom h1{
    overflow: hidden;
    border-right: 0.15rem solid orange;
    white-space: nowrap;
    text-align: center;
    margin: 10px auto;
    letter-spacing: 0.15rem;
    animation: typing 3.5s steps(30,end), blink-caret 0.5s step-end infinite;
}

.header-bottom h2{
    overflow: hidden;
    border-right: 0.15rem solid orange;
    white-space: nowrap;
    text-align: center;
    margin: 10px auto;
    letter-spacing: 0.15rem;
    animation: typing 10s steps(30,end), blink-caret 0.5s step-end infinite;
}

/* CONTENT */

.content{
    width: 50%;
    margin: 15px auto;
    display: flex;
    
    background-repeat: no-repeat;
    background-position-x: center;
}

#button{
    width: 150px;
    height: 75px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin: 170px auto;
    border: none;
}

#button:hover{
    box-shadow:0px 0px 50px #02b8dd;
}

#section{
    width: 100%;
    height: 100%;
}

.rezerve{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100px;
    margin: 170px auto;
    align-items: center;
    background: rgb(247, 247, 243,0.2);
    border-radius: 15px;
}

.rezerve h3{
    text-align: center;
}

.rezerve .select{
    border: none;
    outline: none;
    align-items: center;
    background: #000000;
    justify-content: center;
    margin-top: 30px;
    width: 400px;
    height: 50px;
    color: white;
    border-radius: 10px;
}

.rezerve .select option{
    text-align: center;
    color: white;

}

.rezerve input{
    margin-left: 20px;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.rezerve input:hover{
    box-shadow:0px 0px 50px #02b8dd;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to{
        border-color: transparent;
    }
    /* 50%{
        border-color: orange;
    } */
}

.why-work{
    width: 100%;
    height: 100vh;
    background-color: rgb(247, 247, 243);
}

.sol{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.row h2{
    margin: 40px 0;
    text-align: center;
}

.sol .part{
    width: 400px;
    margin: 20px auto;
    justify-content: flex-start;
}

.sag{
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

/* FOOTER */
.footer-top{
    background: rgb(247, 247, 243);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-top img{
    margin: 0 auto;
}

.footer-nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.footer-nav h6{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-nav ul{
    list-style: none;
    margin-right: 40px;
}

.footer-nav ul li{
    margin-bottom: 8px;
}

.footer-nav ul li a{
    text-decoration: none;
    color: grey;
    font-size: 13px;
}

.footer-top .adress{
    display: flex;
}

.footer-top a:hover{
    color: #02b8dd;
    transition: 0.5s;
}

.footer-top a:hover svg{
    color: #02b8dd;
    transition: 0.5s;
}

.adress a{
    color: #000000;
    margin: 10px auto;
}

footer{
    width: 100%;
    height: 60px;
    background: rgb(233, 233, 228);
}

.copy-text{
    text-align: left;
    padding: 20px;
    color: grey;
}

/* FOOTER */