*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace,sans-serif;
}

body,
html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 10%;
    background-color: #000000c7;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin: 0 auto;
}

.panel-container{
    display: flex;
    flex: 1;
}

.selections{
    width: 15%;
    background: rgba(0, 0, 0, 0.856);
}

.selections li {
    list-style: none;
    padding: 20px;
}

.selections li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.selections li a:hover{
    color: #02b8dd;
}

.selections .cikis{
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    left: 10px;
    padding: 20px;
    border: 1px solid red;
}

.selections .cikis:hover{
    background-color: red;
}

.a{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.kutu{
    width: 330px;
    height: 600px;
    border: 1px solid #02b8dd;
    margin-right: 20px;
    align-items: center;
}

.aktif{
    text-align: center;
    margin-top: 60px;
}

.aktif span{
    font-size: 40px;
    color: #02b8dd;
}

.kutu3{
    overflow-y: auto;
}

.kutu3 span{
    color: grey;
    font-size: 20px;
}